/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.bg-image {
	background-color: #F8E1DB;
	background-image: url(../images/main.png);
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.8;
	

}

.conteiner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.main {
	max-width: 1920px;
	width: 100%;
	height: 1080px;
/*	position: absolute;
	top: 0;
	left: 0;*/
	/*opacity: 85%;
*/
}

.back-img1 {
	max-width: 1920px;
	width: 100%;
	height: 1080px;
	/*position: absolute;*/
	
}
.nav-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 50px;
}

	

.nav-item {
	margin-right: 20px;
}

.nav-link {
	color:#D2D2D2 ;
}

.nav-link:hover {
	
	color: #D2D2D2;
	border-bottom: 2px solid #FFFFFF ;
}



.nav-ul-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


.nav-li-right {
	margin-right: 20px;
}
.navigation {
	/*max-width:1520px ;*/
	/*width: 100%;*/
	/*position: absolute;*/
	padding: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 60px;
	/*margin-left: 200px;*/
	font-size: 20px;
	font-family: 'Cormorant Garamond', serif;
	width: 100%;
	
}
.hamburger{
	color: #D2D2D2;
	background-color: transparent;
	border: 0;
	font-size: 30px;
	cursor: pointer;
	display: none;
}
.hamburger:focus {
	outline: none;
}

.main-logo {
	margin-left: 50px;
}

.section1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 268px;
	margin-bottom: 160px;
	
}
.main-box {
	max-width: 580px;
	height: 385px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	/*position: absolute;
	top: 350px;
	left: 680px;*/

}

h1 {
	font-size: 81px;
	color: white;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.main-box-p {
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 5px;
}

.discover {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #E76F51;
	color: white;
	width: 205px;
	height: 50px;
	border-radius: 50px;
	font-size: 18px;
	-webkit-transition: all 0.5s linear ;
	-o-transition: all 0.5s linear ;
	transition: all 0.5s linear ;
}
.discover:hover {
	background-color: white;
	color: #E76F51;
	-webkit-box-shadow: 5px 5px 10px rgb(185, 132, 132);
	        box-shadow: 5px 5px 10px rgb(185, 132, 132);
}

/*Bottom blocks style */
.bottom-box {
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
}

.bottom-block {
	max-width:352px;
	height: 312px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	background-color: white;
	border-radius: 20px;
	margin-bottom: 30px;
	background-color: #fff;
	margin-right: 20px;
}

.bottom-block-img {
	width: 82px;
	height: 80px;
}

.bottom-block-p {
	text-align: center;
	width: 277px;
	height: 47px;
}

.bottom-block-h3 {
	 font-size: 18px;
	 font-weight: bold;
	 
}

/*Page2 styles*/
.page2-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 150px;
}

.page2-h2 {
	font-size: 46px;
	font-weight: bold;
	width: 456px;
    line-height: 53px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
    font-family: 'Oswald', sans-serif;
    
}
/* animation  */

.page2-logo {
	width: 70px;
	position: relative;
	-webkit-animation: mymove 5s infinite ;
	        animation: mymove 5s infinite ;
}
@-webkit-keyframes mymove {
	from { -webkit-transform: rotate(180deg) translateX(70px) rotate(180deg); transform: rotate(180deg) translateX(70px) rotate(180deg); }
    to   { -webkit-transform: rotate(540deg) translateX(70px) rotate(540deg); transform: rotate(540deg) translateX(70px) rotate(540deg); }
	
}
@keyframes mymove {
	from { -webkit-transform: rotate(180deg) translateX(70px) rotate(180deg); transform: rotate(180deg) translateX(70px) rotate(180deg); }
    to   { -webkit-transform: rotate(540deg) translateX(70px) rotate(540deg); transform: rotate(540deg) translateX(70px) rotate(540deg); }
	
}

/*12 blocks style*/

.page2-boxes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 357px;
	
	height: 465px;
	position: relative;
	background-color: white;
	text-align: center;
	border-radius: 20px;
	margin-bottom: 30px;
}

.page2-blocks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap ;
	    flex-wrap: wrap ;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
} 

.position-box {
	position: relative;	
}

.div-36 {
	width: 145px;
	height: 50px;
	color: #E76F51;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: white;
	position: absolute;
	top: 181px;
	left: 107px;
	border-radius: 14px 14px 0 0 ;
}
.fa-heart {
	color: #E76F51;
	border: 2px solid white;
	position: absolute;
	top: 40px;
	right: 55px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: all 0.5s linear ;
	-o-transition: all 0.5s linear ;
	transition: all 0.5s linear ;
	
}

.fa-heart:hover {
	background-color: #E76F51;
	color: white;
	border: 2px solid #E76F51;

}

 .page-text-box {
 	margin-top: 25px;
 	width: 357px;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	    -ms-flex-direction: column;
 	        flex-direction: column;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;

 }

 .page2-h3 {
 	color: black;
 	font-size: 18px;
 	font-weight: bold;
 	
 }

 .section-page2 {
 	max-width: 1518px;
 	width: 100%;
 	margin: 0 auto;
 	background-image: url(../images/shapes-back.png);
 	background-position: center;
 }

 .view-all {
 	width: 205px;
 	height: 50px;
 	font-size: 18px;
 	font-weight: bold;
 	color: #E76F51;
 	background-color: #FAF4F2;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	margin: 0 auto;
 	border-radius: 1px;
 	border: solid;
 	border-radius: 50px;
 	border-color:#E76F51;
 	margin-top: 60px;
 	-webkit-transition: all 0.5s linear ;
 	-o-transition: all 0.5s linear ;
 	transition: all 0.5s linear ;
 }
 	
.view-all:hover {
	background-color: #E76F51;
	color: white;
	border: 2px solid #E76F51;
	-webkit-box-shadow: 5px 5px 10px rgb(185, 132, 132);
	        box-shadow: 5px 5px 10px rgb(185, 132, 132);
}	

.page2-p {
	font-size: 16px;
	line-height: 28px;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 277px;
}


  /*Section 3 */
  .left-block {
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
  	    -ms-flex-direction: column;
  	        flex-direction: column;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
  	-webkit-box-align: start;
  	    -ms-flex-align: start;
  	        align-items: flex-start;
  	width: 616px;
  	height: 225px;
	margin-left: 25px;
  }

 .section-3 {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	height: 390px;
 	margin-top: 116px;
 	margin-bottom: 150px;
 	background-image: url(../images/bottom-back.png);
 	background-size: cover;
 	width: 100%;
 }

 .section-3-img {
 	max-width: 460px;
 	width: 100%;
 	margin-left: 200px;
}

.section-3-h2 {
	font-size: 40px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	
}

.section-3-p {
	font-size: 16px;
	max-width: 486px;
	margin-bottom: 30px;
	margin-top: 20px;
	line-height: 28px;
}
.input-class {
		position: relative;
}
.input-img {
	width: 100px;
	position: absolute;
	right: 0;
	top: -18px;
	
}
#input-text {
		height: 50px;
		width: 486px;
		border: solid;
		border-radius: 50px;
		border-color: white;
		background-image: url(../images/letter.svg);
		background-repeat: no-repeat;
		background-position: left;
		background-position-x: 17px;
		padding-left: 47px;

	}


/*footer*/


.foot-block1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 615px;
}
.foot-h3-1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	
}
.foot1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-top: 103px;
}

.foot {
	background-image: url(../images/footer-back.png);
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50px;
}

.foot-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 160px;
	
}

.foot-ul-2 {
	margin-right: 30px;
	margin-left: 30px;
	
}

.footer-link {
	font-size: 16px;
	color: black;
}

.footer-li {
	margin-top: 5px;
}
.foot-p {
	line-height: 28px;
	margin-bottom: 40px;
}
.play-icon {
	display: inline-block;
	

}
.download {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	
}
.footer-download {
	width: 310px;
	height: 85px;
	margin: 0 auto;
	text-align: center;
}

.footer-p {
	text-align: center;
	padding: 60px;
}
.footer-ul {
	font-family: 'Lato', sans-serif;
	
}
.footer-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
}

.icon-button {
	border:none;
	cursor: pointer;
}

.read {
	background-color: #f1f1f1;
	border: none;
	color: #8D8D8D;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50px;
	-webkit-transition: all 0.5s linear ;
	-o-transition: all 0.5s linear ;
	transition: all 0.5s linear ;
}
.read:hover {

	background-color: #E76F51;
	color: white;
	-webkit-box-shadow: 5px 5px 10px rgb(185, 132, 132);
	        box-shadow: 5px 5px 10px rgb(185, 132, 132);
	
}
.social {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin-top: 20px;
font-size: 40px;


}
.fa-youtube {
	margin-left: 20px;
	margin-right: 20px;
	color:black;
}
.fa-facebook-square {
	color: black;
}
.fa-twitter {
	color:black;
}
/* სლაიდერი */


#slider { 
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ 
	margin: 0 auto;
}

#slides article{ 
	width: 20%;
	float: left;
}

#slides .image{ 
	width: 500%;
	line-height: 0;
}

#overflow{ 
	width: 100%;
	overflow: hidden;
}

article img{ 
	width: 100%;
}

#desktop:checked ~ #slider{ 
	max-width: 960px; 
}


#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url(../images/prev.png) no-repeat; 
	float: left;
	margin: 0 0 0 -80px; 
	display: block;
	height: 68px;
	width: 68px;
}


#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url(../images/next.png) no-repeat; 
	float: right;
	margin: 0 -80px 0 0; 
	display: block;
	height: 68px;
	width: 68px;
}

label, a{
	cursor: pointer;
}

.all input{
	display: none;
}


#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ 
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ 
	border-radius: 10px; 
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ 
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ 
	background: #76c8ff;
	border-color: #777 !important; 
}


#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ 
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ 
	opacity: 0.6;
}

#controls label{ 
	-webkit-transition: opacity 0.2s ease-out; 
	-o-transition: opacity 0.2s ease-out; 
	transition: opacity 0.2s ease-out;
}
.slide-image {
	height: 500px;
}
.all {
	margin-bottom: 20px;
}

/* header{
	background-color: black;
  } */
  
  /* .container{
	width:1600px;
	margin:auto;
  }
  

  
  .navigation {
	min-height: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  } */
  
  
  /* .nav-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
  }
   */
  /* .nav-link{
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
  }
  
 
  
  .hamburger{
	display: none;
	cursor: pointer;
  }
  
  .bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: white;
  }
  
  @media(max-width:1024px){
	.hamburger{
	  display: block;
	}
  
	.hamburger.active .bar:nth-child(2){
	  opacity: 0;
	}
	.hamburger.active .bar:nth-child(1){
	  -webkit-transform: translateY(8px) rotate(45deg);
	      -ms-transform: translateY(8px) rotate(45deg);
	          transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3){
	  -webkit-transform: translateY(-8px) rotate(-45deg);
	      -ms-transform: translateY(-8px) rotate(-45deg);
	          transform: translateY(-8px) rotate(-45deg);
	}
  
	.nav-menu{
	  position: fixed;
	  left: -100%;
	  top: 70px;
	  gap: 0;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	      -ms-flex-direction: column;
	          flex-direction: column;
	  background-color: #262626;
	  width: 100%;
	  text-align: center;
	  -webkit-transition: 0.3s;
	  -o-transition: 0.3s;
	  transition: 0.3s;
	}
  
	.nav-item{
	  margin: 16px 0;
	}
  
	.nav-menu.active{
	  left: 0;
	}
  }
  
  @media(max-width:1600px){
	.container{
	  width: 100%;
	}
  } */

  /* contact page style  */
  .contact-left-box {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	      -ms-flex-direction: column;
	          flex-direction: column;
	  -webkit-box-pack: justify;
	      -ms-flex-pack: justify;
	          justify-content: space-between;
	  height: 450px;
	  max-width: 600px;
	  width: 100%;
	  margin-bottom: 30px;

	  background-color: #f8d2c9;
	  padding: 15px;
	  border-radius: 10px;
	  -webkit-box-shadow: 10 10 10 #fafafa;
	          box-shadow: 10 10 10 #fafafa;

  }
  .contact-h2 {
	  font-size: 40px;
}
.name-email input {
	max-width: 250px;
	width: 100%;
	height: 50px;
	border:none;
} 
.subject input {
	max-width: 250px;
	width: 100%;
	height: 50px;
	border:none;
}
.message input {
	max-width: 510px;
	width: 100%;
	height: 150px;
	border:none;

}
.send-button input {
	border:none ; 
	width: 250px;
	height: 50px;
	border:none;
	
}
.contact-us {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 50px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contact-right-box {
	height: 450PX;
	max-width: 600px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	background-color: #1089ff;
	color: white;
	padding: 15px;
	margin-bottom: 20px;
	

}
.contact-right-box div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contact-right-box i {
	font-size: 40px;
	margin-right: 10px;
	border-color: white;
	border-radius: 50px;
	border-style: solid;
}
.contact-right-box span {
	font-size: 20px;
	color: wheat;
}
.contact-right-box p a  {
	color:white ;
	font-size: 20px;
}
.tel  {
	color: white ;
	font-size: 20px;
}

.contact-nav {
	color:black;
}

.top-button1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: end;
	margin-right: 40px;
	margin-bottom: 20px;
	border: none;
}